<!DOCTYPE html>
<html>
<head>
	<title>AJAX Example</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

	<div class="top">
		<div class="logo">
			<img class="img-logo" src="/static/img/logo.svg"/>
			<p>POLYTOOL</p>
		</div>
	</div>

<div class="login-container">
    <div class="login-container-2">

			<div class="container-1">
					<input type="text" id="poly_1" placeholder="Digite um Polinômio">
					<button id="btn_graph_1" class="buttons-rg" type="submit" disabled>Raizes</button>
					<button id="btn_root_1" class="buttons-rg" type="submit" disabled>Gráfico</button>
				</div>
				
				<div class="container-1">
					<input type="text" id="poly_2" placeholder="Digite um Polinômio">
					<button id="btn_root_2" class="buttons-rg" type="submit" disabled>Raizes</button>
					<button id="btn_graph_2" class="buttons-rg" type="submit" disabled>Gráfico</button>
				</div>
	
				<div class="container-1">
					<button id="btn_sum" class="buttons-math" type="submit" disabled>+</button>
					<button id="btn_sub" class="buttons-math" type="submit" disabled>-</button>
					<button id="btn_mul" class="buttons-math" type="submit" disabled>*</button>
					<button id="btn_div" class="buttons-math" type="submit" disabled>/</button>
					<input type="text" id="poly_result" placeholder="" readonly="readonly">
				</div>
				<div id="root"></div>

				<a href="#" class="float">
					
					<img class="my-float" src="/static/img/control.png"/>
				</a>
				<div class="label-container">
					<div class="label-text">Jogar</div>
					<i class="fa fa-play label-arrow"></i>
				</div>
						

			
	</div>
</div>
</body>
</html>